/* Kidney Stories ladvina.eu */
/* assets/css/main.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Funnel+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

/* Global Variables */
:root {  
  --title-color: #a7c6ed; /* Pastel Blue */  
  --accent-color: #ff6f61; /* Pastel Coral */  
  --accent-dark: #d95f4f; /* Darker Pastel Coral */  
  --accent-light: #ff8f7b; /* Light Pastel Coral */  
  --accent-lighter: #ffb3a1; /* Lighter Pastel Coral */  
  --accent-lightest: #ffd3d1; /* Lightest Pastel Coral */  
  --accent-darkest: #c94c4c; /* Dark Pastel Coral */  
  --accent-darker: #a43d3d; /* Darker Pastel Coral */  
  --primary-color: #a0c4ff; /* Pastel Steel Blue */  
  --primary-dark: #7c9dd0; /* Darker Pastel Steel Blue */  
  --secondary-color: #b9fbc0; /* Pastel Green */  
  --secondary-dark: #8ef6a6; /* Darker Pastel Green */  
  --danger-color: #ff6b6b; /* Pastel Red */  
  --warning-color: #ffe66d; /* Pastel Yellow */  
  --success-color: #b9fbc0; /* Pastel Green */  
  --info-color: #85e3ff; /* Pastel Cyan */  
  --light-color: #f9f9f9; /* Very Light Pastel Gray */  
  --dark-color: #d3d3d3; /* Light Pastel Gray */  
  --gray-color: #b0b0b0; /* Light Gray */  
  --white-color: #ffffff; /* White */  
  --black-color: #000000; /* Black */  
  --gray-light: #f0f0f0; /* Light Gray */
  --gray-dark: #808080; /* Dark Gray */
  --gray-darker: #505050; /* Darker Gray */
  --gray-darkest: #303030; /* Darkest Gray */
  --gray-lightest: #f9f9f9; /* Lightest Gray */
  --gray-lighter: #e0e0e0; /* Lighter Gray */
  --gray-lightest: #f5f5f5; /* Lightest Gray */
  
  --body-bg: #f0f4f8; /* Pastel Background */  
  --text-color: #333333; /* Darker Gray for better contrast */  
  --border-color: #e0e0e0; /* Light Border Color */  
  
  --font-family-sans: 'Poppins', sans-serif;  
  --font-family-serif: 'Playfair Display', serif;  
  --font-family-mono: 'Source Code Pro', monospace;  
  --font-family-cursive: 'Pacifico', cursive;
  --font-family-fantasy: 'Eagle Lake', 'Lobster', fantasy;
  --font-family-system: 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-family-ui: 'ui-serif', 'ui-sans-serif', 'ui-monospace', 'ui-rounded';
  --font-family-emoji: 'emoji', 'math', 'fangsong';
} 

/* Reset */
*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

/* Global Styles */
a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: var(--accent-color);
}
a:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}
a:active {
  color: var(--primary-dark);
}
html {
  line-height: 1.0;
  color: var(--text-color);
}
body {
  max-width: 1280px; margin-left: auto; margin-right: auto;
  padding: 1rem;
  background-color: var(--body-bg);
  font-family: var(--font-family-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Icon Flags */
div.icon-flags-banner {
  display: flex;
  flex-flow: row wrap;
  align-items: center; align-self: center; align-content: center;
  justify-items: center; justify-self: center; justify-content: center;
  margin-top: 0.5rem;
}
div.icon-flags-banner button {
  background: none; border: none; cursor: pointer;
  margin: 1px; padding: 0;
  max-width: 32px; max-height: 24px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
div.icon-flags-banner button:hover {
  opacity: 1; 
}
div.icon-flags-banner button:active {
  opacity: 1;
}
div.icon-flags-banner button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem;
}
div.icon-flags-banner button:disabled {
  cursor: not-allowed;
}
div.icon-flags-banner button:disabled:hover {
  opacity: 0.5;
}
div.icon-flags-banner button:disabled:active {
  opacity: 0.25;
}
div.icon-flags-banner button:disabled:focus {
  outline: none;
  box-shadow: none;
}
div.icon-flags-banner button img {
  background: none; border: none;
  margin: 1px; padding: 0;
  max-width: 32px; max-height: 24px;
}

/* Header */
div.app-header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
}
div.app-header-container img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}
div.app-header-container h1 {
  font-family: var(--font-family-fantasy);
  font-size: 3rem;
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 1px var(--black-color), 0 0 25px var(--accent-color), 0 0 10px var(--accent-darker);
}
div.app-header-container h2 {
  font-family: var(--font-family-cursive);
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--secondary-dark);
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 1px 1px 1px var(--black-color), 0 0 10px var(--accent-color);
}
div.app-header-container h3 {
  font-family: var(--font-family-fantasy);
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--accent-color);
  margin-bottom: 1rem;
  text-align: center;
}
div.app-header-container h4 {
  font-family: var(--font-family-sans);
  font-size: 1rem;
  font-weight: 400;
  color: var(--warning-color);
  margin-bottom: 0.1rem;
  text-align: center;
  text-shadow: 1px 1px 2px var(--text-color);
}
div.app-header-container h5 {
  font-family: var(--font-family-mono);
  font-size: 1rem;
  font-weight: 800;
  color: var(--primary-dark);
  margin-bottom: 0.1rem;
  text-align: center;
}
div.app-header-container h6 {
  font-family: var(--font-family-system);
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  text-align: center;
}

/* Language Selector */
div.session-info-container {
  display: flex;
  flex-flow: row nowrap;  
  font-family: var(--font-family-system);
  margin-top: 1rem; margin-bottom: 1rem;
}
div.user-info-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 50%;
  justify-self: left; justify-content: left; justify-items: left;
  align-self: start; align-content: start; align-items: start;
  text-align: left;
  margin-top: 1rem; margin-bottom: 1rem; padding-right: 1rem;
}
div.user-info-container .user-info {
  margin-top: 0; margin-bottom: 0;
  padding: 0;
  font-size: small; font-style: italic;
  color: var(--gray-color);
}
div.user-info-container .user-name {
  margin-top: 0.5rem; margin-bottom: 1.5rem;
  padding: 0;
  font-size: large; font-weight: bold;
}
div.user-info-container .register-info {
  margin-top: 1rem; margin-bottom: 0.1rem;
  padding: 0;
  font-size: small; font-style: italic;
  color: var(--text-color);
}
div.language-selector-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 50%;
  justify-self: right; justify-content: right; justify-items: right;
  align-self: start; align-content: end; align-items: end;
  text-align: right;
}
div.language-selector-container form {
  margin-top: 0; margin-bottom: 0; padding: 0;
}
div.language-selector-container button {
  margin: 0; padding: 0; border: 0;
}
div.language-selector-container .description {
  max-width: 256px; max-height:192px;
  margin-top: 0; margin-bottom: 0; padding: 0;
  font-size: small; font-style: italic; font-family: var(--font-family-ui);
}

/* Main Content Grid */
div.main-content-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main right'
    'footer footer footer footer footer footer';
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  padding: 1rem;
  max-width: 1280px;
  background-color: var(--white-color);
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
div.main-content-container div.header {
  grid-area: header;
  align-items: center;
  justify-items: center;
  align-self: center;
  justify-self: center;
  text-align: center;
  background-color: var(--gray-lightest);
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  padding: 1rem;
  font-family: var(--font-family-fantasy);
}
div.main-content-container div.header img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}
div.main-content-container div.menu {
  grid-area: menu;
  align-items: start;
  justify-items: left;
  align-self: auto;
  justify-self: left;
}
div.main-content-container div.menu img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}
div.main-content-container div.story {
  grid-area: main;
  align-items: start;
  justify-items: left;
  align-self: auto;
  justify-self: left;
  padding: 0.5rem;
  text-align: justify;
  font-family: var(--font-family-serif);
  font-size: x-large;
}
div.main-content-container div.story img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}
div.main-content-container div.stories {
  grid-area: right;
  align-items: right;
  justify-items: right;
  align-self: auto;
  justify-self: right;
  padding: 0.5rem;
  border: thin solid #b0b0b0;
  border-radius: 1rem;  
  font-family: var(--font-family-sans);
}
div.main-content-container div.stories img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}
div.main-content-container div.story-footer {
  grid-area: footer;
  align-items: center;
  justify-items: center;
  align-self: center;
  justify-self: center;
  background-color: var(--gray-lightest);
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
  font-family: var(--font-family-ui);
  color: var(--text-color);
}
div.main-content-container div.story-footer p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-style: italic;
  font-family: var(--font-family-system);
}
div.main-content-container div.story-footer img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
footer {
  display: table;
  width: 100%;
  background-color: var(--accent-lightest);
  border: thin solid var(--border-color);
  margin-top: 1rem; margin-bottom: 1rem;
  margin-left: auto; margin-right: auto;
  padding: 1rem;
  text-align: center;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

/* Navigation */
.vertical-nav {  
  display: flex;  
  flex-direction: column; /* Zobrazenie položiek vertikálne */  
  width: 200px; /* Šírka ponuky, prispôsobte podľa potreby */  
  padding: 1rem; /* Vnútorné okraje */  
  background-color: var(--white-color); /* Pozadie ponuky */  
  border: 1px solid var(--border-color); /* Okraj ponuky */  
  border-radius: 0.5rem; /* Zaoblenie hrán */  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tieň */  
}  
.vertical-nav form {  
  margin: 0; /* Zrušenie okrajov pre formuláre */  
}  
.vertical-nav button {  
  margin: 0.5rem 0; /* Vzdialenosť medzi tlačidlami */  
  padding: 0.5rem; /* Vnútorné okraje tlačidla */  
  font-family: var(--font-family-sans); /* Typ písma */  
  font-size: 1rem; /* Veľkosť písma */  
  color: var(--white-color); /* Farba textu tlačidla */  
  background-color: var(--primary-color); /* Pozadie tlačidla */  
  border: none; /* Bez okraja */  
  border-radius: 0.25rem; /* Zaoblenie hrán tlačidla */  
  cursor: pointer; /* Ukazovateľ myši pri prechode myšou */  
  transition: background-color 0.3s ease; /* Hladký prechod farby pozadia */  
}  
.vertical-nav button:hover {  
  background-color: var(--accent-color); /* Zmena farby pozadia pri prechode myšou */  
}

/* Lists */
ul, ol {
  margin-bottom: 1rem;
  padding-left: 2rem;
}
li {
  margin-bottom: 0.5rem;
}
li ul, li ol {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
li ul li, li ol li {
  margin-bottom: 0.25rem;
}
li ul li ul, li ol li ol {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
li ul li ul li, li ol li ol li {
  margin-bottom: 0.125rem;
}

/* Buttons */
button {
  font-family: var(--font-family-sans);
  font-size: 1rem;
  font-weight: 600;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
button:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
  transform: scale(1.05);
}
button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}
button:active {
  background-color: var(--accent-dark);
  color: var(--white-color);
  transform: scale(0.95);
}
button:disabled {
  background-color: var(--gray-color);
  color: var(--white-color);
  cursor: not-allowed;
  opacity: 0.5;
}
button:disabled:hover {
  background-color: var(--gray-color);
  color: var(--white-color);
  transform: none;
}
button:disabled:focus {
  outline: none;
  box-shadow: none;
}
button:disabled:active {
  background-color: var(--gray-color);
  color: var(--white-color);
  transform: none;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
form label {
  font-family: var(--font-family-sans);
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}
form input, form select, form textarea {
  font-family: var(--font-family-sans);
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  padding: 0.5rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
form input:focus, form select:focus, form textarea:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}
form input:active, form select:active, form textarea:active {
  border-color: var(--primary-dark);
  box-shadow: 0 0 0 0.2rem rgba(39, 121, 189, 0.25);
}
form input::placeholder, form select::placeholder, form textarea::placeholder {
  color: var(--gray-color);
  opacity: 0.5;
}
form input:disabled, form select:disabled, form textarea:disabled {
  background-color: var(--light-color);
  color: var(--gray-color);
  cursor: not-allowed;
  opacity: 0.5;
}
form input:disabled:hover, form select:disabled:hover, form textarea:disabled:hover {
  background-color: var(--light-color);
  color: var(--gray-color);
  transform: none;
}
form input:disabled:focus, form select:disabled:focus, form textarea:disabled:focus {
  outline: none;
  box-shadow: none;
}
form input:disabled:active, form select:disabled:active, form textarea:disabled:active {
  background-color: var(--light-color);
  color: var(--gray-color);
  transform: none;
}

/* Disclaimers */
section.legal-disclaimer {
  flex: 50%; margin: 1rem; padding: 1rem;
  background-color: var(--white-color);
  border: thin solid var(--border-color);
}
section.legal-disclaimer p {
  margin: 0; text-align: justify;
}
section.legal-disclaimer h1 {
  margin: 0; font-size: x-large;
}
section.copyright-disclaimer {
  flex: 50%; margin: 1rem; padding: 1rem;
  background-color: var(--white-color);
  border: thin solid var(--border-color);
}
section.copyright-disclaimer p {
  margin: 0; text-align: justify;
}
section.copyright-disclaimer h1 {
  margin: 0; font-size: x-large;
}
.disclaimer-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-family: var(--font-family-system);
  line-height: normal;
  margin-top: 2rem; margin-bottom: 2rem; padding: 1rem;
  border: thin solid var(--border-color);
  border-radius: 1rem;
  background-color: var(--light-color);
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Privacy Policies */
section.privacy-policy {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
section.privacy-policy p {
  margin: 0;
}
/* Terms of Service */  
section.terms-of-service {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
section.terms-of-service p {
  margin: 0;
}




/* Responsive Design */
@media (max-width: 768px) {
  div.main-content-container {
    grid-template-areas:
      'header header header header header header'
      'menu menu menu menu menu menu'
      'main main main main main main'
      'right right right right right right'
      'footer footer footer footer footer footer';
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto 1fr auto;
  }
  div.disclaimer-container {
    flex-direction: column;
  } 
}
